In [8]:
def date():
  months = [' ','January' , 'February','March','April','May','June','July','August','September','October','November','December']
  print(months[mon],day,yr)
day = int(input("enter day: "))
mon = int(input("enter month: "))
yr = int(input("Enter year: "))

print("The date entered is: ",mon,"/",day,"/",yr)

date()

enter day: 18
enter month: 2
Enter year: 2022
The date entered is:  2 / 18 / 2022
February 18 2022